.shopping-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.shopping-bag {
	width: 100%;
	max-width: 1520px;
}

.shopping-header {
	padding: 30px;
}

.shopping-container {
	display: grid;
	grid-template-columns: 3fr 1.5fr;
	padding: 30px;
}

.shop-cont-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.shopping-product {
	display: grid;
	grid-template-columns: 200px 2fr 0.5fr;
	gap: 20px;
	margin-bottom: 20px;
}

.shp-img-ps {
	width: 90px;
	height: 90px;
	border-radius: 10px;
	background-size: 90px;
	background-position: center;
}

.shopping-product p {
	color: gray;
}

.shp-details {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#shp-bottom-shp-details {
	display: flex;
}

.shp-remove {
	color: red;
	margin-left: 30px;
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;
}

.shop-cont-right {
	background-color: #1f2937;
	color: #fff;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 10px;
}

.shp-pay-info {
	padding: 20px;
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.shp-pay-info-right {
	flex-direction: column;
	align-items: flex-end;
}

.shp-chkout {
	margin-top: 10px;
	height: 48px;
	width: 100%;
	border-radius: 10px;
	background-color: #c684ff;
	color: #fff;
}
