@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
	font-family: 'Poppins';
	margin: 0;
	padding: 0;
	background-color: #171717;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	@apply py-3 px-5 rounded-full duration-1000;
}
.btn-red {
	@apply bg-myRed text-white;
}
.btn-purple {
	@apply bg-myPurple-100 text-white;
}
.btn-blue {
	@apply bg-blue-400 text-white;
}
.btn-red:hover {
	@apply bg-transparent border border-myRed text-myRed;
}
.btn-purple:hover {
	@apply bg-transparent border border-myPurple-100 text-myPurple-100;
}
.btn-blue:hover {
	@apply bg-transparent border border-blue-400 text-blue-400;
}

@layer utilities {
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
